.navbar {
    background-color: #1DB954;
    color: white;
    margin-bottom: 30px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    color: #DCDCDC;
  }
  
  .title {
    font-size: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
  }
  main {
    text-align: center;
  }

  .songs{
    width: 3em;
  }