{% extends 'base.html' %}

{% block content %}
  <h1 className="title">Find Info for Your Favourite Artists</h1>
  <h1>Artist Search</h1>
  <form method="POST">
    <label for="artist-name">Artist Name:</label>
    <input type="text" id="artist-name" name="artist_name" required>
    <button type="submit">Search</button>
  </form>
  {% if artist %}
    <h2>Search Result:</h2>
    <p>Name: {{ artist.name }}</p>
    <p>Followers: {{ artist.followers.total }}</p>
    <img src="{{ artist.images[0].url }}" alt="{{ artist.name }}">
    <h3>Top Tracks:</h3>
    <div className="songs">
    <p >{{ cleaner(get_songs_by_artist(token, artist.id)) }}</p>
  {% elif artist is none %}
</div>
    <h2>Artist not found</h2>
  {% endif %}
{% endblock %}


<style>
  .songs {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
  }
  .songs p {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
</style>





